/*navigation bar */

#navigation{
    flex-direction: column;
}

#navigation ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}

/*HOME section */
#home{
    height: 370px;
    padding: 3px 28px;
}

#home::before{
    height: 478px;
}

#home p{
    font-size: 14px;
}

/* sercies section */
#services{
    flex-direction: column;
}

#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}

/*customer section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 68px;
    padding: 6px;
    height: auto;

}


/* contact us section */

#contact-box form{
    width: 80%;
}

/*footer section */

/*utility classes*/
.h-primary{
    font-size: 25px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}